<div class="container">

  <% if user_signed_in? %>
  <div class="container">
    <div class="form-group row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="search-box">
          <h2>List your place!</h2>
          <%= simple_form_for :listing, url: new_listing_path, :method => :patch do |f| %>
            <%= f.error_notification %>
            <div class="form-inline">
              <%= f.input :country%>
              <%= f.input :city%>
            </div>
            <%= f.input :address %>
            <%= f.input :price_daily, placeholder: "price per day in USD" %>
            <%= f.input :capacity, placeholder: "how many guest can stay" %>
            <%= f.input :headline, placeholder: "now give us a catchy headline" %>
            <%= f.input :description, placeholder: "and a detailed description of the place" %>
            <%= f.submit :submit, class: "btn-primary search-box__button" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Your listings</h2>
    <div class="cards-container">
      <div class="row">
        <div class="notice"><%= notice %></div>
        <div class="alert"><%= alert %></div>
        <h2 class="header"><%= @header %></h2>
        <% @listings.each do |listing| %>
        <%= render partial: "shared/listing_card", locals: { listing: listing }%>
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</div>
