<div class="container">

  <% if user_signed_in? %>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="listing-form">
          <h2>List your place!</h2>
          <%= simple_form_for :listing, url: listings_path, :method => :post do |f| %>
            <%= f.error_notification %>

            <div class="form-group">
              <div class="fg-left">
                <%= f.input :country,
                            input_html: {class: "ff ff-mid"},
                            prompt: "Country",
                            label: false,
                            required: true %>

                <%= f.input :city,
                            input_html: {class: "ff ff-mid"},
                            placeholder: "City",
                            label: false,
                            required: true %>
              </div>
              <div class="fg-right">
                <%= f.input :price_daily,
                            input_html: {class: "ff ff-small"},
                            label: "$ per night",
                            label_html: {class: "ff-label"},
                            required: true %>

                <%= f.input :capacity,
                            input_html: {class: "ff ff-small"},
                            selected: "1",
                            label: "Guests",
                            label_html: {class: "ff-label"},
                            required: true %>
              </div>
            </div>
                <%= f.input :address,
                             input_html: {class: "ff ff-large"},
                             placeholder: "Address",
                             label: false,
                             required: true %>

                <%= f.input :headline,
                            input_html: {class: "ff ff-large"},
                            placeholder: "Promote your place with a catchy headline",
                            label: false,
                            required: true %>

                <%= f.input :description,
                            input_html: {class: "ff ff-box"},
                            as: :text,
                            placeholder: "Describe your place here...",
                            label: false,
                            required: true %>

                <%= f.button :button, class: "blob-btn" do %>
                   Post listing
                   <span class="blob-btn__inner">
                     <span class="blob-btn__blobs">
                       <span class="blob-btn__blob"></span>
                       <span class="blob-btn__blob"></span>
                       <span class="blob-btn__blob"></span>
                       <span class="blob-btn__blob"></span>
                     </span>
                   </span>
                <% end %>
          <% end %>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h2>Your listings</h2>
        <div class="row">
          <div class="notice"><%= notice %></div>
            <div class="alert"><%= alert %></div>
            <h2 class="header"><%= @header %></h2>
              <% @listings.each do |listing| %>
                <div class="col-xs-12 col-md-3">
                    <%= render partial: "shared/listing_card", locals: { listing: listing }%>
                </div>
              <% end %>
        </div>
    </div>
  </div>
  <% else %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</div>
