<div class="container">
  <div class="listing-view">

    <div class="listing-view__detail">
      <div class="col-lg-6">
        <h2><%= @listing.headline %></h2>
        <div>
          <p>Description: <%= @listing.description %></p>
          <p>Address: <%= @listing.address %></p>
          <p id="price">Daily price: <%= "$#{sprintf('%.2f', @listing.price_daily)}" %></p>
          <p>City: <%= @listing.city %></p>
          <p>Capacity: <%= @listing.capacity %></p>
          <p>Host: <%= Profile.find_by(id: @listing.user_id).first_name %></p>
        </div>

          <% if user_signed_in? %>
          <% if current_user.id != @listing.user_id  %>
        <div class="listing-view__total">
            <p>Total booking price: <span class="listing-view__total-price"></span></p>
        </div>
          <% end %>
          <% end %>
      </div>
    </div>

      <%# Hide booking if user is not logged in %>
      <%# or user is listing's host             %>
  <% if user_signed_in? %>
  <% if current_user.id != @listing.user_id  %>
    <div class="col-lg-6">
      <div class="listing-view__dates-form">
          <%= simple_form_for :booking, url: listing_bookings_path(@listing), :method => :post do |f| %>

        <div class="col-lg-5">
          <%= f.input :start_date, as: :date, html5: true, :input_html => { :value => params['start_date']} %>
        </div>
        
        <div class="col-lg-5">
          <%= f.input :end_date, as: :date, html5: true, :input_html => { :value => params['end_date']} %>
        </div>
        
        <div class="listing-view__form-guest-number">
          <div class="col-lg-5">
            <%= f.input :guest_number, label: :Guests, as: :numeric %>
          </div>
        </div>
        
          <div class="col-lg-5 text-center">
            <%= f.submit :book, class: "btn btn-lg btn-primary listing_view__form-button"%>
          </div>

        <% if @booking.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @booking.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
            <% end %>
          <% end %>
      </div>
      </div>

        <% end %>
      <% end %>
    </div>

  </div>
</div>
