<div class="col-xs-12">
  <div class="booking-card card">
    <div class="card-body">
        <div class="booking-main-details">
          <h3> <%= booking.listing.headline %></h3>
          <div class="date-range">
            <p>From: <%= booking.start_date %></p>
            <p>To: <%= booking.end_date %></p>
          </div>
          <p>Guests: <%= booking.guest_number %></p>
          <h2>Total price: <%= booking.total_cost %> USD</h2>
        </div>
        <div class="bookings-host-details">
          <h2>Hosted by:</h2>
          <%= image_tag "justin_holt.jpg", class: "card-user avatar avatar-large" %>
          <p><%= booking.listing.user.email %></p>
        </div>
      </div>
    <div class="card-footer">
      <p>If you have questions regarding your booking please send a message to noreply@bad-aibnb.com</p>
    </div>
  </div>
</div>
