<div class="col-xs-12">
  <div class="booking-card card">
    <div class="booking-card-body">
        <div class="booking-main-details">
          <h3><%= link_to booking.listing.headline, listing_path(booking.listing) %></h3>
          <div class="date-range">
            <p>From: <%= booking.start_date %></p>
            <p>To: <%= booking.end_date %></p>
          </div>
          <p>Guests: <%= booking.guest_number %></p>
          <h2 class="price">Total price: <%= booking.total_cost %> USD</h2>
        </div>
        <div class="bookings-host-details">
          <h2 class="host">Hosted by:</h2>
          <%= image_tag "justin_holt.jpg", class: "avatar-booking" %>
          <p><%= booking.listing.user.email %></p>
        </div>
      </div>
    <div class="booking-card-footer">
      <div>
       <%= image_tag "CS-avatar.png", class: "customer-service-avatar"%>
       </div>
      <div>
      <p>"If you have questions regarding your booking please send a message to noreply@airbnbroke.com"</p>
      </div>
    </div>
  </div>
</div>
