  <div class="card">
    <div class="card-body">
      <span class="card-category">Antony</span>
      <div class="card-description">
      <h2> <%= listing.headline %></h2>
      <p><%= listing.description %></p>
      </div>
      <%= image_tag "justin_holt.jpg", class: "card-user avatar avatar-large" %>
      <%= link_to listing_path(listing), :class => "card-link" do %><div></div><% end %>
    </div>
    <div class="card-footer">
      <p>$<%= listing.price_daily %></p>
      <div class="controls">
        <a href="#"><i class="fa fa-star"></i></a></li>
        <a href="#"><i class="fa fa-heart"></i></a></li>
        <a href="#"><i class="fa fa-share"></i></a></li>
      </div>
    </div>
  </div>
