<div class="form-group row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="search-box">
      <%= simple_form_for :listing, url: listings_path, :method => :get do |f| %>
        <%= f.error_notification %>
  
        <%= f.input :city %>
        <div class="form-inline">
          <%= f.input :start_date, as: :date, html5: true %>
          <%= f.input :end_date, as: :date, html5: true %>
        </div>
            
        <%= f.button :button, "Search", class: "btn-primary search-box__button" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
