<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="form-group">
      <div class="search-box">
        <%= simple_form_for :listing, url: listings_path, :method => :get do |f| %>
          <%= f.error_notification %>

          <%= f.input :city, placeholder: "City", label: false %>
          <div class="form-inline">
            <% if (defined?(search_params) == nil) %>
              <%= f.input :start_date, as: :date, html5: true %>
              <%= f.input :end_date, as: :date, html5: true %>
            <% else %>
              <%= f.input :start_date, as: :date, html5: true, :input_html => { :value => search_params['start_date']} %>
              <%= f.input :end_date, as: :date, html5: true, :input_html => { :value => search_params['end_date']} %>
            <% end %>
          </div>

          <%= f.button :button, "Search", class: "btn-primary search-box__button" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
